extends layouts/base

block content
	h4 Hi #{user.name.first},
	h4 You recently requested a link to reset your UTA CSEC password.
	h4 Please set a new password by following the link below:
	a(href=host + link_url)= host + link_url
