extends layouts/base

block content
	h4 Hi #{subscriber.name.first},
	h4: if content
		!=content.replace(/\n/g, '<br>')
	h4: if link_url
		a(href=host + link_url)= link_label ? link_label : host + link_url
		
