extends layouts/base

block content
	h4 Hi #{attendee.name.first},
	h4 The UTA Cyber Security Club has scheduled a new meeting.
	h4 Follow the link below to see when, where, what topics will be covered and to RSVP:
	a(href=host + link)= host + link
