extends ../../layouts/default

block intro
	.page-intro: .container
		h1.page-title Suggested Tools
		p.lead It is important to establish a solid toolkit for any kind of security work. The list below is what we consider a good foundation for our members to start from, allowing one to build up and customerize their tools and workflow as they grow more experienced.
		
block content
	.page-content
		.section.highlight: .container-md
			.row.col-md-offset-1
				.col-sm-4
					h3 Disassemblers & Decompilers
					li IDA
					li Hopper
					li dnSpy
					li ILSpy
					li Reflector + Reflexi
					li Java Decompiler
				.col-sm-4
					h3 Debuggers
					li OllyDbg
					li WinDbg
					li Immunity Debugger
					li x64_dbg
					li GDB + PEDA
				.col-sm-4
					h3 Web & Networking
					li Google Chrome
					li Burp Suite
					li Wireshark
					li Nmap
					li cURL
			br
			.row.col-md-offset-1
				.col-sm-4
					h3 File Editors
					li Vim
					li Notepad++
					li Hex Workshop
					li HxD
					li 010 Editor
				.col-sm-4
					h3 Miscellaneous
					li VMware / VirtualBox
					li Python 2.7 & pip
					li PIN Framework
					li Z3 & Z3py
					li Cygwin
					li PuTTY
					li FileZilla
				.col-sm-4
					h3 Virtual Machines
					li Kali Linux
					li Ubuntu {12.04, 16.04} {x86, x64}
					li Windows 7 SP1 x64
					li Windows XP SP3 x86
